body {
    background-color: #FFDD83;
}

.container-1 {
    width: 500px;
    height: 600px;
    margin: auto;
    margin-top: 75px;
    background-color: #FEFCF3;
    border-radius: 30px;
}

.container-1 h1 {
    text-align: center;
    position: relative;
    top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-1 p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}


.container-2 {
    position: relative;
    top: 15px;
    height: 60px;
}

.container-2 img {
    display: inline-block;
    padding: 10px;
}

.container-2 img:hover {
    transform: scale(1.5);
}

.ig {
    position: relative;
    top: 4px;
}

.yt {
    position: relative;
    top: 1px;
}